.file-upload {
  max-width: 600px;
  margin: 0 auto;

  .upload-area {
    border: 5px dashed #e5e7eb;
    padding: 50px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 1rem;
    border-radius: 8px;
    // background: #fafbfc;
    background: #f7f7fa;
    transition: border-color 0.2s, background 0.2s;

    &:hover,
    &:focus {
      border-color: #0070f3;
      background: #f0f8ff;
    }

    span {
      color: #555;
      font-size: 18px;
      font-weight: 500;

    }
  }

  .progress-bar {
    margin-top: 1rem;
    width: 100%;
    background: #eee;
    height: 8px;
    border-radius: 4px;

    div {
      height: 100%;
      background: #0070f3;
      border-radius: 4px;
      transition: width 0.2s;
    }
  }
}

.document-container {
  position: relative;
  padding: 20px;
  border: 5px dashed #e5e7eb;
  border-radius: 10px;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.0666666667);
  margin-bottom: 20px;

  .document-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    .document-icon {
      width: 100px;
      margin-bottom: 20px;
    }
    .document-placeholder {
      font-size: 18px;
      font-weight: 500;
    }
  }
  .document-close {
    position: absolute;
    top: 15px;
    right: 15px;
    
    .close-icon {
      width: 15px;
      height: 15px;
      &:hover {
        opacity: .4;
      }
    }
  }
}