.title {
  margin: 2rem auto 1.5rem auto;
  padding: 1.5rem 0;
  text-align: center;
  font-size: 2.2rem;
  font-weight: 700;
  color: #222;
}
.subtitle {
  // margin: 2rem auto 1.5rem auto;
  // padding: 1.5rem 0;
  margin-bottom: 20px;
  text-align: center;
  font-size: 1rem;
  // font-weight: 700;
  color: #222;
}
